@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

@font-face {
    font-family: 'Gotham Pro - Bold';
    src: url('../fonts/gotham_cyrillic/GothaProBol.eot');
    src: url('../fonts/gotham_cyrillic/GothaProBol.otf') format('truetype');
        font-weight: bold;
        font-style: normal;     
    }
 
@font-face {
    font-family: 'Gotham Pro';
    src: url('/fonts/gotham_cyrillic/GothaProReg.eot');
    src: url('/fonts/gotham_cyrillic/GothaProReg.otf') format('truetype');
        font-weight: normal;
        font-style: normal;     
    }
 
@font-face {
    font-family: 'Gotham Pro - Light';
    src: url('../fonts/gotham_cyrillic/GothaProLig.eot');
    src: url('../fonts/gotham_cyrillic/GothaProLig.otf') format('truetype');
        font-weight: normal;
        font-style: normal;     
    }
 
@font-face {
    font-family: 'Gotham Pro - Black';
    src: url('../fonts/gotham_cyrillic/GothaProBla.eot');
    src: url('../fonts/gotham_cyrillic/GothaProBla.otf') format('truetype');
        font-weight: bold;
        font-style: normal;     
    }

body {
	font-family: "Gotham Pro";
}


.navbar {
	z-index: 5;
    height: 110px;
    padding: 0;

    .navbar-brand {
    	padding: 0;
    }

    .nav-item {
    	margin: 0px 30px;

    	a {
    		color: #262626;
            font-size: 16px;
            font-weight: 300;
    	}

    	button {
			margin-left: 50px;
            width: 132px;
            height: 39px;
            background-color: #8C1145;
            font-weight: 300;
            border: none;

            &:focus {
            	outline: none;
            	border: none;
            }
    	}
    }

    .container {
    	width: 100%;
    	// padding-left: 100px;
    	margin: auto;
    }
}

#LoginButton {
	border-radius: 25px;
    color: #FFFEFE;
    font-size: 18px;

    &:hover {
		border: 1px solid;
	}
}

#RegistrationButton {
	background: none;
	border: none;
    color: #262626;
    font-size: 16px;

    border-radius: 25px;

    &:hover {
		border: 1px solid;
	}
}

#FirstScreen {
	position: relative;
  	text-align: center;

	img {
        width: 100%;
        height: 693px;
        object-fit: cover;
        object-position: bottom;
    }

    h1 {
    	position: absolute;
  		top: 17%;
  		left: 50%;
  		transform: translate(-50%, -50%);
  		width: 100%;
		color: #FFFEFE;
		font-family: "Gotham Pro";
		font-size: 48px;
		font-weight: 300;
		line-height: 36px;
    }

    h5 {
    	position: absolute;
  		top: 39%;
  		left: 50%;
  		transform: translate(-50%, -50%);
  		max-width: 550px;
		color: #FFFEFE;
		font-family: "Gotham Pro - Light";
		font-size: 36px;
		font-weight: 300;
		line-height: 36px;
  	}

  	button {
  		position: absolute;
  		bottom: 32%;
  		left: 50%;
  		transform: translate(-50%, -50%);

  		width: 355px;
		height: 59px;
		background-color: #4bba72;
		border-radius: 40px;
		border: none;
		color: #fffefe;
		font-family: "Gotham Pro";
		font-size: 24px;
		font-weight: 300;
		line-height: 36px;

		&:focus {
			outline: none;
			border: none;
		}

		&:hover {
			border: 1px solid;
		}
  	}
}

#SecondScreen {
	position: relative;
  	text-align: center;

  	// display: block;
  	min-height: 450px;

  	margin-bottom: 30px;

  	h1 {
  		margin-bottom: 50px;
  	}

  	img {
  		position: absolute;
  		right: 50%;

        max-width: 484px;
        width: 100%;
		height: 320px;

		margin-right: 10px;
		
		// object-fit: cover;
    }

    p {
		position: static;
		padding: 15px;
  		margin: auto;

  		max-width: 493px;
  		width: none;
		height: auto;

		text-align: left;
		font-size: 20px;
		font-weight: 300;
		line-height: 20px;

    }
}

#ThirdScreen {
	background-image: url("/images/Screen_3.png");
	background-repeat: no-repeat;

	height: 726px;
	width: 100%;
	// background-size: 0 100%;

	.row {
		margin-top: 40px;
		height: 200px;
	}

	h1 {
		margin-top: 50px;
		color: #ffffff;
		font-family: "Gotham Pro - Black";
		font-size: 36px;
		font-weight: 800;
	}

	h2 {
		color: #ffffff;
		font-family: "Gotham Pro";
		font-size: 30px;
		font-weight: 300;
	}

	p {
		max-width: 200px;

		margin: 20px auto 0 auto;

		color: #ffffff;
		font-family: "Gotham Pro";
		font-size: 24px;
		font-weight: 300;
	}
}

#FourthScreen {
	h1 {
		margin-top: 60px;

		color: #000000;
		font-family: "Gotham Pro - Black";
		font-size: 36px;
		font-weight: 800;
	}

	h2 {
		margin-bottom:50px;

		color: #000000;
		font-family: "Gotham Pro";
		font-size: 30px;
		font-weight: 300;
	}

	button {
		margin-top: 60px;
		margin-bottom: 85px;

		width: 355px;
		height: 59px;
		background-color: #4bba72;

		border-radius: 40px;
		border: none;
		color: #fffefe;
		font-family: "Gotham Pro";
		font-size: 24px;
		font-weight: 300;

		&:focus {
        	outline: none;
        	border: none;
        }
		
		&:hover {
			border: 1px solid;
		}
	}

	.FAQ {
		margin: 0 auto;
		max-width: 845px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		

		h5 {
			margin-bottom: 10px;
			font-weight: bold;
			font-size: 24px;
		}

		p {
			margin-bottom: 35px;
			padding-left: 15px;
			font-size: 24px;
		}

		.heading {
			margin-bottom: 20px;
			text-align: center;

			h1 {
				font-size: 36px;
			}

			p {
				font-size: 30px;
			}
		}
	}
}

.footer {
	.footer-black {
		padding-top: 30px;

		width: 100%;
		height: 100%;
		background-color: #0d0d0d;

		.row {
			.footer-text {
				padding-top: 10px;
			}

			.footer-social-nets {
				padding: 0 15px;
				// margin: 0 10px;
				border-left: 3px ridge;
				border-right: 3px ridge;

				text-align: center;

				img {
					padding: 0 15px;
				}
			}
			
			.footer-links {
				display: block;
				padding-top: 20px;

				a {
					padding-left: 35px;
				}
			}

			p {
				color: #fffefe;
				font-family: "Gotham Pro";
				font-size: 24px;
				font-weight: 300;

				strong {
					font-weight: 600;				
				}
			}

			a {
				color: #fffefe;
				font-family: "Gotham Pro";
				font-size: 24px;
				font-weight: 300;

				text-decoration: none;
			}
		}
	}

	.footer-gray {
		height: 100%;
		background-color: #2b2b2b;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		@include media-breakpoint-down(sm) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		.row {
			padding-top: 20px
		}
		
		.footer-gray-allsoc {
			padding: 0;
			position: relative;
		}

		p {
			color: #fffefe;
			font-family: "Gotham Pro";
			font-size: 24px;
			font-weight: 300;
		}

		img {
			padding: 0;

			max-height: 41px;
			max-width: 311px;
		}

		area {
			outline-color: white;
			border: 1px;
		}
	}
}

@include media-breakpoint-up(xs) {
	.navbar {
		.navbar-toggler {
			margin-left: 10%;
		}

		.show {
			width: 100%; 
	    	background-color: white;
	    	text-align: center;
	    	
	    	button {
	    		margin-left: 0;
	    	}
	    }
	}

	#FirstScreen {
		position: relative;
	  	text-align: center;

		img {
	        width: 100%;
	        height: 693px;
	        object-fit: cover;
	        object-position: bottom;
	    }

	    h1 {
	    	position: absolute;
	  		top: 17%;
	  		left: 50%;
	  		transform: translate(-50%, -50%);
	  		width: 100%;
			color: #FFFEFE;
			font-family: "Gotham Pro";
			font-size: 30px;
			font-weight: 300;
			line-height: 36px;
	    }

	    h5 {
	    	width: 100%;
	    	position: absolute;
	  		top: 39%;
	  		left: 50%;
	  		transform: translate(-50%, -50%);
	  // 		width: 537px;
			// height: 103px;
			color: #FFFEFE;
			font-size: 20px;
			font-weight: 300;
			line-height: 36px;
	  	}

	  	button {
	  		position: absolute;
	  		bottom: 22%;
	  		left: 50%;
	  		transform: translate(-50%, -50%);

	  		width: 60%;
			height: 80px;
			background-color: #4bba72;
			border-radius: 40px;
			border: none;
			color: #fffefe;
			font-family: "Gotham Pro";
			font-size: 24px;
			font-weight: 300;
			line-height: 36px;
	  	}
	}

	#SecondScreen {
		position: static;
	  	text-align: center;

	  	// display: block;
	  	min-height: 450px;

	  	margin-bottom: 30px;

	  	h1 {
	  		margin-bottom: 50px;
	  	}

	  	img {
	  		position: static;

	        max-width: 484px;
	        width: 100%;
			height: 320px;

			margin-right: 0;
			
			// object-fit: cover;
	    }

	    p {
	    	position: static;
			padding: 15px;
	  		margin: auto;

	  		max-width: 493px;
	  		width: none;
			height: auto;

			text-align: left;
			font-size: 20px;
			font-weight: 300;
			line-height: 20px;
	    }
	}

	#ThirdScreen {
		background-image: url("/images/Screen_3.png");
		background-repeat: no-repeat;

		height: 800px;
		width: 100%;
		// background-size: 100% 0;

		.row {
			margin-top: 0;

			.col-sm-4 {
				margin-top: 20px;
			}
		}

		h1 {
			margin-top: 50px;
			color: #ffffff;
			font-family: "Gotham Pro - Black";
			font-size: 36px;
			font-weight: 800;
		}

		h2 {
			color: #ffffff;
			font-family: "Gotham Pro";
			font-size: 30px;
			font-weight: 300;
		}

		p {
			max-width: 100px;

			margin: 20px auto 0 auto;

			color: #ffffff;
			font-family: "Gotham Pro";
			font-size: 17px;
			font-weight: 300;
		}
	}

	#FourthScreen {
		h1 {
			margin-top: 60px;

			color: #000000;
			font-family: "Gotham Pro - Black";
			font-size: 36px;
			font-weight: 800;
		}

		h2 {
			margin-bottom:50px;

			color: #000000;
			font-family: "Gotham Pro";
			font-size: 30px;
			font-weight: 300;
		}

		button {
			margin-top: 60px;
			margin-bottom: 85px;

			width: 80%;
			height: 80px;
			background-color: #4bba72;

			border-radius: 40px;
			border: none;
			color: #fffefe;
			font-family: "Gotham Pro";
			font-size: 24px;
			font-weight: 300;
		}
	}

	.footer {
		.footer-black {
			padding-top: 30px;
			padding-bottom: 20px;

			width: 100%;
			height: 100%;
			background-color: #0d0d0d;

			.row {
				.footer-text {
					padding-top: 10px;
				}

				.footer-social-nets {
					padding: 0 15px;
					// margin: 0 10px;
					border-left: 3px ridge;
					border-right: 3px ridge;

					text-align: center;

					img {
						padding: 0 15px;
					}
				}
				
				.footer-links {
					display: block;
					padding-top: 20px;
					text-align: center;

					a {
						padding-left: 0;
					}
				}

				p {
					text-align: center;

					color: #fffefe;
					font-family: "Gotham Pro";
					font-size: 24px;
					font-weight: 300;

					strong {
						font-weight: 600;				
					}
				}

				a {
					text-align: center;

					color: #fffefe;
					font-family: "Gotham Pro";
					font-size: 24px;
					font-weight: 300;

					text-decoration: none;
				}
			}
		}

		.footer-gray {
			height: 100%;
			background-color: #2b2b2b;

			.row {
				padding-top: 20px
			}
			
			.footer-gray-allsoc {
				padding: 0;
				position: relative;
			}

			p {
				text-align: center;
				color: #fffefe;
				font-size: 24px;
				font-weight: 300;
			}

			img {
				padding: 0;

				display: block;
				margin: auto;

				max-height: 41px;
				max-width: 311px;
			}

			area {
				outline-color: white;
				border: 1px;
			}
		}
	}
}

@include media-breakpoint-up(sm) {
	#FirstScreen {
		position: relative;
	  	text-align: center;

		img {
	        width: 100%;
	        height: 693px;
	        object-fit: cover;
	        object-position: bottom;
	    }

	    h1 {
	    	position: absolute;
	  		top: 17%;
	  		left: 50%;
	  		transform: translate(-50%, -50%);
	  		width: 100%;
			color: #FFFEFE;
			font-family: "Gotham Pro";
			font-size: 48px;
			font-weight: 300;
			line-height: 36px;
	    }

	    h5 {
	    	position: absolute;
	  		top: 39%;
	  		left: 50%;
	  		transform: translate(-50%, -50%);
	  // 		width: 537px;
			// height: 103px;
			color: #FFFEFE;
			font-size: 36px;
			font-weight: 300;
			line-height: 36px;
	  	}

	  	button {
	  		position: absolute;
	  		bottom: 32%;
	  		left: 50%;
	  		transform: translate(-50%, -50%);

	  		width: 355px;
			height: 59px;
			background-color: #4bba72;
			border-radius: 40px;
			border: none;
			color: #fffefe;
			font-family: "Gotham Pro";
			font-size: 24px;
			font-weight: 300;
			line-height: 36px;
	  	}
	}

	#ThirdScreen {
		background-image: url("/images/Screen_3.png");
		background-repeat: no-repeat;

		height: 726px;
		width: 100%;

		.row {
			margin-top: 40px;
			height: 200px;
		}

		h1 {
			margin-top: 50px;
			color: #ffffff;
			font-family: "Gotham Pro - Black";
			font-size: 36px;
			font-weight: 800;
		}

		h2 {
			color: #ffffff;
			font-family: "Gotham Pro";
			font-size: 30px;
			font-weight: 300;
		}

		p {
			max-width: 200px;

			margin: 20px auto 0 auto;

			color: #ffffff;
			font-family: "Gotham Pro";
			font-size: 24px;
			font-weight: 300;
		}
	}

	#FourthScreen {
		h1 {
			margin-top: 60px;

			color: #000000;
			font-family: "Gotham Pro - Black";
			font-size: 36px;
			font-weight: 800;
		}

		h2 {
			margin-bottom:50px;

			color: #000000;
			font-family: "Gotham Pro";
			font-size: 30px;
			font-weight: 300;
		}

		button {
			margin-top: 60px;
			margin-bottom: 85px;

			width: 355px;
			height: 59px;
			background-color: #4bba72;

			border-radius: 40px;
			border: none;
			color: #fffefe;
			font-family: "Gotham Pro";
			font-size: 24px;
			font-weight: 300;
		}
	}

	.footer {
		.footer-black {
			height: 100%;

			.row {
				.footer-social-nets {
					

					img {
						padding: 5px 20px;
					}
				}
			}
			.footer-links {
				a {
					padding-left: 0;
				}
			}

			.container {
				width: 100%;
				margin: auto;
			}
		}

		.footer-gray {
			height: 100%;
		}
	}
}

@include media-breakpoint-up(md) {
	.navbar {
	    height: 110px;
	    padding: auto;

	    .navbar-brand {
	    	padding: 0;
	    }

	    .navbar-collapse {
	    	margin: auto;
	    }

	    .navbar-nav {
	    	margin: auto;
	    }

	    .nav-item {
	    	margin: auto;

	    	a {
	    		color: #262626;
	            font-size: 16px;
	            font-weight: 300;
	    	}

	    	button {
				margin-left: 0;
	            width: 132px;
	            height: 39px;
	            background-color: #8C1145;
	            font-weight: 300;
	            border: none;

	            &:focus {
	            	outline: none;
	            	border: none;
	            }
	    	}
	    }

	    .container {
			width: 100%;
	    	padding: 0;
	    	margin: auto;
	    }
	}

	#SecondScreen {
		position: relative;
	  	text-align: center;

	  	// display: block;
	  	min-height: 450px;

	  	margin-bottom: 30px;

	  	h1 {
	  		margin-bottom: 50px;
	  	}

	  	img {
	  		position: absolute;
	  		right: 50%;

	        max-width: 484px;
	        width: 100%;
			height: 320px;

			margin-right: 10px;
			
			// object-fit: cover;
	    }

	    p {
	    	position: absolute;
	  		left: 50%;

	  		margin-left: 10px;

	  		max-width: 493px;
			height: 319px;

			text-align: left;
			font-size: 15px;
			font-weight: 300;
			line-height: 20px;
	    }
	}

	.footer {
		.footer-black {
			.row {
				.footer-social-nets {
					img {
						padding: 0 5px;
					}
				}

				.footer-links {
					padding-right: 0;

					a {
						padding-left: 0;
					}
				}

				a {
					font-size: 20px;
				}

				p {
					font-size: 20px;
				}
			}

			.container {
				width: 100%;
				margin: auto;
			}
		}

		.footer-gray {
			height: 100%;
			background-color: #2b2b2b;

			.row {
				padding-top: 20px
			}
			
			.footer-gray-allsoc {
				padding: 0;
				padding-left: 45px;
				position: relative;
			}

			p {
				padding: 0;
				color: #fffefe;
				font-size: 20px;
				font-weight: 300;
			}

			img {
				padding: 0;

				max-height: 41px;
				max-width: 311px;
			}

			area {
				outline-color: white;
				border: 1px;
			}

			.container {
				width: 100%;
				margin: auto;
			}
		}
	}
}

@include media-breakpoint-up(lg) {
	.navbar {
		.nav-item {
	    	margin: 0 30px;
	    }

	    .container {
	    	padding-left: 100px;
	    	margin: auto;
	    }
	}

	#SecondScreen {
		p {
			font-size: 20px;
		}
	}

	.footer {
		.footer-black {
			.row {
				.footer-links {
					a {
						padding-left: 15px;
						margin: auto;
					}
				}
			}
		}
	}
}

@include media-breakpoint-up(xl) {
	.navbar {
	    .container {
	    	padding-left: 100px;
	    	margin: auto;
	    }
	}
}

@include media-breakpoint-up(1920px) {
	#ThirdScreen {
		background-size: 100% 100%;
	}
}